.netflex-container {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  background: black;
  color: grey;
  width: 400px;
}

.netflex-container h1 {
  color: #E50914;
}

.netflex-actions {
  border: 1px solid grey;
}

.netflex-actions.active {
  background: grey;
  color: black;
}
